.parent {
  display: flex;
  height: 100vh;
  overflow: scroll;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  /* background-color: wheat; */
}

.parent .child {
  background-color: white;
}

.child {
  width: 250px;
  height: 250px;
  text-align: center;
}
